node_modules
*/node_modules
app/dist
app/public/circuits
app/screenshots
circuits
program/target/deploy
program/target/release
program/target/debug
program/target/sbf*
program/target/.rustc_info.json
program/programs
program/tests
scripts
*.sqlite
